.inner-wrapper {
    text-align: center;
    border: 2px solid black;
    width: 30%;
    margin-top: 20px;
    margin-left: 35%;
    padding: 20px;
}
mat-form-field {
    margin-left: 60px;
}
.button-wrapper button {
    margin-left: 60px;
}