table {
    width: 100%;
    padding: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}
#searchBar{
    margin-left: 180%;
    width: 40%;
    padding: 5px;
}
#searchBar input{
    padding: 5px;
    padding-left: 20px;
}